<!DOCTYPE html>
<html>
  <head>
    <title>Project5Ontrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="page_content">
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <%= link_to "Logout", destroy_user_session_path, method: :get %>
      <% elsif current_teacher_user %>
        <%= link_to "Edit Profile", edit_teacher_user_registration_path %>
        <%= link_to "Logout", destroy_teacher_user_session_path, method: :get %>
      <% elsif current_admin %>
        <%= link_to "Edit Profile", edit_admin_registration_path %>
        <%= link_to "Logout", destroy_admin_session_path, method: :get %>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
