<!--<h1>Recommendations#show</h1>-->
<!--<p>Find me in app/views/recommendations/show.html.erb</p>-->

<!DOCTYPE html>
<html>

<head>
  <title>List</title>
</head>
<body>
<%= button_to 'Exit To Menu', menu_index_path%>
<%= button_to 'Create a new form' , recommendations_new_path%>
<table>
  <tr>
    <th>Student First Name</th>
    <th>Student Last Name</th>
    <th>Student Dot Number</th>
    <th>Teacher First Name</th>
    <th>Teacher Last Name</th>
    <th>Teacher Dot Number</th>
    <th>Course</th>
    <th>Course Section</th>
    <th>Future Semester(FS) vs Next Semester(NS)</th>
    <th>General(G) or Specific(S) Endorsement</th>
    <th>Edit</th>
    <th>Delete</th>

  </tr>
  <% @allrecommend.each do |t| %>
    <tr>
      <td><%= t.student_fname %></td>
      <td><%= t.student_lname %></td>
      <td><%= t.student_lname_num %></td>
      <td><%= t.teacher_fname %></td>
      <td><%= t.teacher_lname %></td>
      <td><%= t.teacher_lname_num %></td>
      <td><%= t.course %></td>
      <td><%= t.course_section%></td>
      <td><%= t.semester %></td>
      <td><%= t.course_specification %></td>
      <td><%= link_to 'Edit', controller: 'recommendations', action: 'edit', id: t.id, method: :edit %></td>
      <td><%= link_to 'Delete', controller: 'recommendations', action: 'destroy', id: t.id, method: :delete %></td>
    </tr>
  <% end %>
</table>
</body>


