<!-- Created by Jing George 4/10/2020 -->

<%= button_to 'Back to Menu', menu_index_path %>
<h1> Administrator Panel </h1>

<!-- options to filter courses from the big list -->
<div id="filters">
  <!-- get options for filter dropdowns -->
  <% hsh = get_filter_opts(params) %>
  <!-- Filtering adapted from
  https://forum.upcase.com/t/how-to-implement-filtering-for-my-rails-app/2834/2
  -->
  <%= form_tag admin_panel_index_path, method: "get" do %>
    <%= select "course", "semester", options_for_select(hsh[:sem], selected: params[:semester]) %>
    <%= select "course", "name", options_for_select(hsh[:name], selected: params[:name]) %>
    <%= select "course", "session", options_for_select(hsh[:ses], selected: params[:session]) %>
    <%= submit_tag "Filter", name: nil %>
  <% end %>
</div>

<!-- display courses -->
<div id="course_list">

  <% @filtered.each do |c| %>

    <div class="course">
      <div class="row">
      <div class="title"><%= c.description.name %>, Class #<%= c.class_num %></div>
      <!-- link to assign grader and make other changes -->
      <div class="edit"><a href="/admin_panel/modify?num=<%=c.class_num%>&sem=<%=c.semester%>">Edit</a></div>
      <div class="clear"></div>
      </div>

      <div class="row">
      <div class="sem">Semester: <%= c.semester %></div>
      <div class="ses">Session: <%= c.description.session %></div>
      <div class="comp">Component: <%= c.description.component %></div>
      <div class="clear"></div>
      </div>

      <div class="row">
      <% if c.description.attendance %>
      <i> ** This class requires grader attendance ** </i><br/>
      <% end %>
      <%= c.description.num_graders - c.description.graders.length() %> of <%= c.description.num_graders %> grading positions open.
       Graders assigned: <%= c.description.graders.pluck(:name).join('; ') %>
      </div>

      <!-- for each meeting print a row -->
      <% c.description.meetings.each do |m| %>
      <div class ="row">
      <div class="loc"><%= m.location %></div>
      <div class="time"><%= m.time %></div>
      <div class="instr"><%= m.instructors.pluck(:name).join('; ') %></div>
      <div class="clear"></div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
