<!-- Created by Jing George 4/10/2020 -->

<%= button_to 'Back to Menu', menu_index_path %>
<h1> Administrator Panel </h1>

<!-- options to filter courses from the big list -->
<div id="filters">
  <!-- get options for filter dropdowns -->
  <% hsh = get_filter_opts(@map, params) %>
  <!-- Filtering adapted from
  https://forum.upcase.com/t/how-to-implement-filtering-for-my-rails-app/2834/2
  -->
  <%= form_tag admin_panel_index_path, method: "get" do %>
    <%= select "course", "semester", options_for_select(hsh[:sem], selected: params[:semester]) %>
    <%= select "course", "name", options_for_select(hsh[:name], selected: params[:name]) %>
    <%= select "course", "session", options_for_select(hsh[:ses], selected: params[:session]) %>
    <%= submit_tag "Filter", name: nil %>
  <% end %>
</div>

<!-- display courses -->
<div id="course_list">
  <% filtered = filter_courses(@map, params) %>
  <% filtered.each do |k, v| %>
    <div class="course">
      <div class="row">
      <div class="title"><%= v[:name] %>, Class #<%= k[0] %></div>
      <!-- link to assign grader and make other changes -->
      <div class="edit"><a href="/admin_panel/modify?num=<%=k[0]%>&sem=<%=k[1]%>">Edit</a></div>
      <div class="clear"></div>
      </div>

      <div class="row">
      <div class="sem">Semester: <%= k[1] %></div>
      <div class="ses">Session: <%= v[:session] %></div>
      <div class="comp">Component: <%= v[:component] %></div>
      <div class="clear"></div>
      </div>

      <div class="row">
      <% if v[:attd] %>
      <i> ** This class requires grader attendance ** </i><br/>
      <% end %>
      <%= v[:num_g] - v[:grader_ids].length() %> of <%= v[:num_g] %> grading positions open.
       Graders assigned: <%= v[:grader_ids].join(', ') %>
      </div>

      <!-- for each meeting print a row -->
      <% v[:meetings].each do |m| %>
      <div class ="row">
      <div class="loc"><%= m[:location] %></div>
      <div class="time"><%= m[:times] %></div>
      <div class="instr"><%= m[:instructors].join('; ') %></div>
      <div class="clear"></div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
