<!-- Created by Jing George 4/10/2020 -->

<%= button_to 'Back to Administrator Panel', url_for(:back)  %>

<% c = Course.find(params[:id]) %>

<h2>Modify <%= c.description.name %>, Class #<%= c.class_num %></h2>
<p">
  Semester: <%= c.semester %> | Session: <%= c.description.session %> | Component: <%= c.description.component %>
  <% if c.description.attendance %>
  <i> | ** This class requires grader attendance ** </i><br/>
  <% end %>
</p>
<p>
<%= c.description.num_graders - c.description.graders.length() %> of <%= c.description.num_graders %> grading positions open.
   Graders assigned: <%= c.description.graders.pluck(:name).join('; ') %>
</p>

<!-- for each meeting print a row -->
<% c.description.meetings.each do |m| %>
<div class ="row">
<div class="loc"><%= m.location %></div>
<div class="time"><%= m.time %></div>
<div class="instr"><%= m.instructors.pluck(:name).join('; ') %></div>
<div class="clear"></div>
</div>
<% end %>
<br/>
