<!-- Created by Jing George 4/10/2020 -->

<%= button_to 'Back to Administrator Panel', admin_panel_index_path %>

<% c = Course.find(params[:id]) %>

<h2>Modify <%= c.name %>, Class #<%= c.class_num %></h2>
<p">
  Semester: <%= c.semester %> | Session: <%= c.session %> | Component: <%= c.component %>
  <% if c.attendance %>
  <i> | ** This class requires grader attendance ** </i><br/>
  <% end %>
</p>
<p>
<%= c.num_graders - c.graders.length() %> of <%= c.num_graders %> grading positions open.
   Graders assigned: <%= c.graders.pluck(:name).join('; ') %>
</p>

<!-- for each meeting print a row -->
<% c.meetings.each do |m| %>
<% loc = m.location %>
<% if loc == " " then loc = "Location N/A" end %>
<div class ="row">
<div class="loc"><%= loc %></div>
<div class="time"><%= m.time %></div>
<div class="instr"><%= m.instructors.pluck(:name).join('; ') %></div>
<div class="clear"></div>
</div>
<% end %>
<br/>
<h2>Available graders: </h2>
<div id="grader_list">
<% if @filtered.empty? %>
  <h3>No graders are eligible to grade this class.</h3>
<% else %>
  <% @filtered.each do |g| %>
    <div class="grader">
      <div class="row">
        <div class="title"><%= g.name %>, <%= g.last_name_dot %></div>
      <div class="clear"></div></div>

      <div class="row">
        <% cn = ClassName.find_by(name: Course.find(params[:id]).name) %>
        Grade in <%= cn.name %>:
        <%= GraderCompletedCourse.find_by(grader_id: g.id, course_id: cn.id).grade %>
      <div class="clear"></div></div>

      <div class="row">
        GPA: <%= g.gpa %>
      <div class="clear"></div></div>
    </div>
  <% end %>
<% end %>
</div>
