<!-- Created by Jing George 4/10/2020 -->

<%= button_to 'Back to Administrator Panel', admin_panel_index_path %>

<% c = Course.find(params[:id]) %>

<h2>Modify <%= c.name %>, Class #<%= c.class_num %></h2>
<p>
  Semester: <%= c.semester %> | Session: <%= c.session %> | Component: <%= c.component %>
  <% if c.attendance %>
  <i> | ** This class requires grader attendance ** </i><br/>
  <% end %>
</p>
<p>
<%= c.num_graders - c.graders.length() %> of <%= c.num_graders %> grading positions open.
   Graders assigned: <%= c.graders.pluck(:name).join('; ') %>
</p>

<!-- for each meeting print a row -->
<% c.meetings.each do |m| %>
<% loc = m.location %>
<% if loc == " " then loc = "Location N/A" end %>
<div class ="row">
<div class="loc"><%= loc %></div>
<div class="time"><%= m.time %></div>
<div class="instr"><%= m.instructors.pluck(:name).join('; ') %></div>
<div class="clear"></div>
</div>
<% end %>
<br/>

<% if @assigned.length() > 0 %>
<h2>Assigned graders: </h2>
<div class="grader_list">
<% @assigned.each do |g| %>
  <div class="grader">
    <div class="row">
      <div class="title"><%= g.name %>, <%= g.last_name_dot %></div>
      <% if g.courses.find_by(semester: Course.find(params[:id]).semester) != nil %>
      <div class="message">Student is already assigned to a class in
        <%= Course.find(params[:id]).semester %>.</div>
      <% end %>
    <div class="button2">
    <%= button_to "Remove from class", admin_panel_modify_path(rm: 1, id: params[:id], gr: g.id)%>
    </div>
    <div class="clear"></div></div>

    <div class="row">
      <% cn = ClassName.find_by(name: Course.find(params[:id]).name) %>
      Grade in <%= cn.name %>:
      <%= GraderCompletedCourse.find_by(grader_id: g.id, course_id: cn.id).grade %>
    <div class="clear"></div></div>

    <div class="row">
      GPA: <%= g.gpa %>
    <div class="clear"></div></div>

    <div class="row">
      <% get_recs(g).each do |r| %>
        <%= r %><br/>
      <% end %>
    <div class="clear"></div></div>

    <div class="row">
      <% get_evals(g).each do |e| %>
        <%= e %><br/>
      <% end %>
    <div class="clear"></div></div>
  </div>
<% end %>
</div>
<% end %>


<h2>Available graders: </h2>
<div class="grader_list">
<% if @filtered.empty? %>
  <h3>There are no eligible candidates to grade this class.</h3>
<% else %>
  <% @filtered.each do |g| %>
    <div class="grader">
      <div class="row">
        <div class="title"><%= g.name %>, <%= g.last_name_dot %></div>
        <% if g.courses.find_by(semester: Course.find(params[:id]).semester) != nil %>
        <div class="message">Student is already assigned to a class in
          <%= Course.find(params[:id]).semester %>.</div>
        <% end %>
      <div class="button2">
        <% if enable_add(params) %>
      <%= button_to "Assign to class", admin_panel_modify_path(id: params[:id], gr: g.id)%>
      <% end %>
      </div>
      <div class="clear"></div></div>

      <div class="row">
        <% cn = ClassName.find_by(name: Course.find(params[:id]).name) %>
        Grade in <%= cn.name %>:
        <%= GraderCompletedCourse.find_by(grader_id: g.id, course_id: cn.id).grade %>
      <div class="clear"></div></div>

      <div class="row">
        GPA: <%= g.gpa %>
      <div class="clear"></div></div>

      <% if get_recs(g).length() > 0 %>
      <div class="row">
        <% get_recs(g).each do |r| %>
          <%= r %><br/>
        <% end %>
      <div class="clear"></div></div>
      <% end %>

      <% if get_evals(g).length() > 1 %>
      <div class="row">
        <% get_evals(g).each do |e| %>
          <%= e %><br/>
        <% end %>
      <div class="clear"></div></div>
      <% end %>

    </div>
  <% end %>
<% end %>
</div>
