<!--# <h1>Evaluations#new</h1>-->
<!--# <p>Find me in app/views/evaluations/new.html.erb</p>-->

<h1>Evaluation Form</h1>
<%= button_to 'Back', evaluations_index_path%>

<% if !@evaluation.nil? && @evaluation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/evaluations/create" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" id="teacher_fname" name="evaluation[instructor_fname]" value="<%=current_teacher_user.f_name%>">
  <input type="hidden" id="teacher_lname" name="evaluation[instructor_lname]" value="<%=current_teacher_user.l_name%>">
  <input type="hidden" id="teacher_lname.#.#" name="evaluation[instructor_name_dotnum]" value="<%=current_teacher_user.l_name.downcase + "." + current_teacher_user.dot_num.to_s%>">

  <label for="grader_lname.#">Last Name.# of Grader</label>
  <input type="text" id="student_lname.#" name="evaluation[grader_lname_dotnum]">
  <br>

  <label for="course">Course</label>
  <input type="text" id="course" name="evaluation[course]">
  <br>
  <label for="quality">Quality of student's grading:</label>
    <%= radio_button("evaluation", "quality", "1", checked:true) %> 1<br />
    <%= radio_button("evaluation", "quality", "2") %>2<br />
    <%= radio_button("evaluation", "quality", "3") %> 3<br />
    <%= radio_button("evaluation", "quality", "4") %> 4<br />
    <%= radio_button("evaluation", "quality", "5") %> 5<br />
  </div>
  </<br>
  <div id="punctuality">
  <label for="punctuality">Punctuality of student's grading:</label>
    <%= radio_button("evaluation", "punctuality", "1", checked:true) %> 1<br />
    <%= radio_button("evaluation", "punctuality", "2") %>2<br />
    <%= radio_button("evaluation", "punctuality", "3") %> 3<br />
    <%= radio_button("evaluation", "punctuality", "4") %> 4<br />
    <%= radio_button("evaluation", "punctuality", "5") %> 5<br />
  </div>
  </<br>
  <div id="com_skills">
  <label for="com_skills">Communication skills of student:</label>
    <%= radio_button("evaluation", "com_skills", "1", checked:true) %> 1<br />
    <%= radio_button("evaluation", "com_skills", "2") %>2<br />
    <%= radio_button("evaluation", "com_skills", "3") %> 3<br />
    <%= radio_button("evaluation", "com_skills", "4") %> 4<br />
    <%= radio_button("evaluation", "com_skills", "5") %> 5<br />
  </div>
  </<br>
  <div id="course_knowledge">
  <label for="course_knowledge">Knowledge of course content:</label>
    <%= radio_button("evaluation", "course_knowledge", "1", checked:true) %> 1<br />
    <%= radio_button("evaluation", "course_knowledge", "2") %>2<br />
    <%= radio_button("evaluation", "course_knowledge", "3") %> 3<br />
    <%= radio_button("evaluation", "course_knowledge", "4") %> 4<br />
    <%= radio_button("evaluation", "course_knowledge", "5") %> 5<br />
  </div>
</br>
  <%= submit_tag("Submit Evaluation") %>
</form>
<%= button_to 'Exit To Menu', menu_index_path%>
