<!--# <h1>Evaluations#new</h1>-->
<!--# <p>Find me in app/views/evaluations/new.html.erb</p>-->

<h1>Evaluation Form</h1>

<form action="/evaluations/create" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="teacher_fname">Instructor First Name:</label>
  <input type="text" id="teacher_fname" name="evaluation[instructor_fname]">
  <br>

  <label for="teacher_lname">Instructor Last Name:</label>
  <input type="text" id="teacher_lname" name="evaluation[instructor_lname]">
  <br>

  <label for="teacher_lname.#">Instructor Last Name.#</label>
  <input type="text" id="teacher_lname.#" name="evaluation[instructor_name_dotnum]">
  <br>

  <label for="grader_lname.#">Last Name.# of Grader</label>
  <input type="text" id="student_lname.#" name="evaluation[grader_lname_dotnum]">
  <br>

  <label for="course">Course</label>
  <input type="text" id="course" name="evaluation[course]">
  <br>
  <div id="quality">
  <label for="quality">Quality of student's grading:</label>
  <% @rate.each do |rate| %>
    <input type="radio" id="quality" name="evaluation[quality]" value = rate>
    <label for="quality"><%= rate %></label>
  <% end %>
  </div>
  </<br>
  <div id="punctuality">
  <label for="punctuality">Punctuality of student's grading:</label>
  <% @rate.each do |rate| %>
    <input type="radio" id="punctuality" name="evaluation[punctuality]" value = rate>
    <label for="punctuality"><%= rate %></label>
  <% end %>
  </div>
  </<br>
  <div id="com_skills">
  <label for="com_skills">Communication skills of student:</label>
  <% @rate.each do |rate| %>
    <input type="radio" id="com_skills" name="evaluation[com_skills]" value = rate>
    <label for="com_skills"><%= rate %></label>
  <% end %>
  </div>
  </<br>
  <div id="course_knowledge">
  <label for="course_knowledge">Knowledge of course content:</label>
  <% @rate.each do |rate| %>
    <input type="radio" id="course_knowledge" name="evaluation[course_knowledge]" value = rate>
    <label for="course_knowledge"><%= rate %></label>
  <% end %>
  </div>
</br>
  <%= submit_tag("Submit Evaluation") %>
</form>
<%= button_to 'Exit To Menu', menu_index_path%>
