<!--# <h1>Evaluations#show</h1>-->
<!--# <p>Find me in app/views/evaluations/show.html.erb</p>-->

<body>
<%= button_to 'Exit To Menu', menu_index_path%>
<table>
  <tr>
    <th>Instructor First Name</th>
    <th>Instructor Last Name</th>
    <th>Instructor Last Name and Dot Number</th>
    <th>Grader Last Name and Dot Number</th>
    <th>Course</th>
    <th>Quality</th>
    <th>Punctuality</th>
    <th>Communication Skills</th>
    <th>Course Knowledge</th>
  </tr>
  <% @allevaluation.each do |t| %>
    <tr>
      <td><%= t.instructor_fname %></td>
      <td><%= t.instructor_lname %></td>
      <td><%= t.instructor_name_dotnum %></td>
      <td><%= t.grader_lname_dotnum %></td>
      <td><%= t.course %></td>
      <td><%= t.quality %></td>
      <td><%= t.punctuality %></td>
      <td><%= t.com_skills%></td>
      <td><%= t.course_knowledge %></td>
    </tr>
  <% end %>
</table>
</body>

<%= button_to 'Create a new evaluation' , evaluations_new_path%>
