<!--<%= javascript_pack_tag 'student_application'%> -->


<script>
    let courseArray = [];
    let timeArray = [];

    function addCourse() {
        fetch('../student_application/new.json', {method: 'GET'})
            .then(response => response.json())
            .then(json => {
                console.log(json);
                var tbody = document.getElementById('course_list');
                var newCourse = document.createElement('tr');
                var courseSelection = document.createElement('td');
                var courseText = document.createElement('select');
                var gradeSelection = document.createElement('td');
                var gradeText = document.createElement('select');
                gradeText.name = 'course[' + 'CSE 1110 Introduction to Computing Technology U 3' + '][grade]';

                if(courseArray.length == 0) {
                    courseText.class = 0;
                    courseArray.push(Number(courseText.class));
                }else {
                    courseText.class = Number(courseArray[courseArray.length - 1]) + 1;
                    courseArray.push(Number(courseText.class));
                }
                courseText.addEventListener('change', function(){ 
                    timeOnCourse(json.course, json.meetings, courseText);
                    newCourse.class = courseText.value;
                    var shortName = courseText.value.split(' ');
                    gradeText.name = 'course[' + courseText.value + '][grade]';
                    }); 
                var arrayCourse = [];
                json.classNames.forEach(element => {
                    var shortName2 = element.name.split(' ');
                    var courseOption = document.createElement('option');
                    courseOption.value = element.name;
                    courseOption.textContent = shortName2[0] + ' ' + shortName2[1];
                    courseText.append(courseOption);
                })
                
                var grades = ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F'];
                for(var i = 0; i < grades.length; i++) {
                    var gradeOption = document.createElement('option');
                    gradeOption.value = grades[i];
                    gradeOption.textContent = grades[i];
                    gradeText.appendChild(gradeOption);
                }
                var deleteButton = document.createElement('button');
                deleteButton.type = "button"
                deleteButton.textContent = "Delete this Class";
                deleteButton.addEventListener('click', function() {
                    document.getElementById(courseText.class).remove();
                    for(var i=0; i < courseArray.length; i++) {
                        if(courseText.class == courseArray[i]) {
                            courseArray.splice(i, 1);
                            timeArray.splice(i, 1);
                        }
                    }
                    newCourse.remove();  
                });
                timeOnCourse(json.course, json.meetings, courseText);
                courseSelection.appendChild(courseText);
                gradeSelection.appendChild(gradeText);
                newCourse.appendChild(courseSelection);
                newCourse.appendChild(gradeSelection);
                newCourse.appendChild(deleteButton);
                tbody.appendChild(newCourse);
            });
    }

    function timeOnCourse(courses, meetings, courseText) {
        if(timeArray.includes(Number(courseText.class))) {
            document.getElementById(courseText.class).remove();
        }else  {
            timeArray.push(courseText.class);
        }
        var value = courseText.value;
        var courseId = [];
        var times = [];
        courses.forEach(element => {
            if(element.name === value) {
                courseId.push(element.id);
            }
        })
        meetings.forEach(element => {
            if(courseId.includes(element.course_id)) {
                times.push(element.time);
            }
        })
        var timeTBody = document.getElementById('available_time');
        var newTimeRow = document.createElement('tr');
        newTimeRow.id = Number(courseText.class);
        var course = document.createElement('td');
        course.textContent = value.split(' ')[0] + ' ' + value.split(' ')[1];
        var timeTd = document.createElement('td');
        times = new Set(times);
        times.forEach(element => {
            if(element != "ARR") {
                var div = document.createElement('div');
                div.class = 'timeDiv';
                var checkBox = document.createElement('input');
                var label = document.createElement('label');
                checkBox.type = 'checkbox';
                checkBox.id = element;
                checkBox.value = element;
                checkBox.name = 'course[' + value + '][time][]';
                label.htmlFor = element;
                label.textContent = element;
                div.append(checkBox);
                div.append(label);
                timeTd.append(div);
            }
        })
        newTimeRow.append(course);
        newTimeRow.append(timeTd);
        timeTBody.append(newTimeRow);

    }

    function addGradedCourse() {
       fetch('../student_application/new.json', {method: 'GET'})
            .then(response => response.json())
            .then(json => {
                console.log(json);
                var tbody = document.getElementById('graded_courses');
                var newCourse = document.createElement('tr');
                var courseSelection = document.createElement('td');
                var courseText = document.createElement('select');
                courseText.id = "gradedCourseText";
                courseText.addEventListener('change', function() {
                    var shortName = courseText.value.split(' ');
                    courseText.name = 'gradedCourse[]';
                })
                var arrayCourse = [];
                json.classNames.forEach(element => {
                    var shortName = element.name.split(' ');
                    var courseOption = document.createElement('option');
                    courseOption.value = element.name;
                    courseOption.textContent = shortName[0] + ' ' + shortName[1];
                    courseText.append(courseOption);
                })
                var deleteButton = document.createElement('button');
                deleteButton.type = "button"
                deleteButton.textContent = "Delete this Class";
                deleteButton.addEventListener('click', function() {
                    newCourse.remove();  
                });
                
                courseSelection.appendChild(courseText);
                newCourse.appendChild(courseSelection);
                newCourse.appendChild(deleteButton);
                tbody.appendChild(newCourse);
            }); 
    }
</script> 
<h1>New Form</h1>


<%= button_to 'Exit', student_application_index_path%>

<p id="alert"><%= @alert %></p>

<%= form_with(url: '/student_application/create', method: "post") do %>
    <input type="hidden" id="fname" name="fname" value="<%=current_user.f_name%>">
    <input type="hidden" id="account_id" name="account_id" value="<%= current_user.id %>">
    <input type="hidden" id="lname" name="lname" value="<%=current_user.l_name%>">
    <input type="hidden" id="lanem.#" name="lname_dot" value="<%=current_user.l_name.downcase + "." + current_user.dot_num.to_s%>">
    <input type="hidden" id="gpa" name="gpa" value="<%=current_user.gpa%>">
    <div id="academic_info">
        <h2>Academic Info</h2>
        <h3>Courses Completed</h3>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody id="course_list">
            </tbody>
        </table>
        <button type="button" id="add_courses" onclick="addCourse()">Add a Course</button>   
        <h3>Time Available</h3>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody id="available_time">
            </tbody>
        </table>
        <h3>Classes Graded In the Past</h3>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody id="graded_courses">
            </tbody>
        </table>
        <button type="button" id="add_graded_courses" onclick="addGradedCourse()">Add a Graded Course</button>
    </div>
    <br>
    <%= submit_tag("Submit Application") %>
<% end %>