<header>
  <div class="navigation">
      <%= link_to 'Home', '../index.html'%>
       <%= link_to 'News', '/pages/news.html'%>
      <%= link_to 'Research', '/pages/research.html'%>
      <%= link_to 'Publications', '/pages/publication.html' %>
      <%= link_to 'Teaching', '/pages/teaching.html'%>
      <%= link_to 'Members', '/pages/members.html' %>
      <%= link_to 'Miscellaneous', '/pages/misc.html'%>

  </div>
</header>

