<header>
  <div class="navigation">
    <%= link_to 'Home', 'index.html'%>
    <%= link_to 'News', 'news.html'%>
    <%= link_to 'Research', 'research.html'%>
    <%= link_to 'Teaching', 'teaching.html'%>
    <%= link_to 'MISC', 'misc.html'%>
  </div>
</header>
