<%= button_to "Back to menu", menu_index_path %>
<h1> Configuration </h1>

<h3>Run web scraper to update and overwrite courses (this will overwrite all course info, including current grader assignments)</h3>
<%= button_to 'Update and overwrite', data_scraper_scrape_path %>

<h3>Run web scraper to collect new courses (this will only add new course info and will not overwrite anything)</h3>
<%= button_to 'Collect new courses', data_scraper_collect_path %>

<h3>View or create a configuration</h3>

<%= form_tag configuration_index_path, method: "post" do %>
  <p>I want to change the configuration for all classes that
  <%= select "grouping", "inclusion", options_for_select(["meet", "do not meet"], selected: params[:inclusion]) %>
   the following criteria:</p>
   <p>*** Leave a field blank if no preference. ***</p>
   <p>*** To list multiple identifiers of one type, separate each by a comma and space.
     Example: 3901, 3902, 3903 ***</p>

  <% if params[:alert] %>
  <p id="alert">Alert: <%= params[:alert] %></p>
  <% end %>

  <div id="criteria">
  <div class="block">
  <%= label_tag(:semester, "Semester (ex: SU20):") %>
  <%= text_field_tag(:semester) %>
  </div><div class="block">
  <%= label_tag(:component, "Component (ex: LAB):") %>
  <%= text_field_tag(:component)%>
  </div><div class="block">
  <%= label_tag(:class_num, "Class number (unique):") %>
  <%= text_field_tag(:class_num) %>
  </div><div class="block">
  <%= label_tag(:name, "Number in name (ex: 2221):") %>
  <%= text_field_tag(:name)%>
  </div>
  </div>

  <div id="config">
  <div class="block">
  <%= label_tag(:num_g, "Number of graders:") %>
  <%= select "config", "num_g", options_for_select(["0", "1", "2", "3", "4", "5", "6", "7", "8"], selected: params[:num_g]) %>
  </div><div class="button">
  <%= radio_button_tag(:attend, "true") %>
  </div><div class="block">
  <%= label_tag(:attend_true, "Grader attendance is required") %>
  </div><div class="button">
  <%= radio_button_tag(:attend, "false") %>
  </div><div class="block">
  <%= label_tag(:attend_false, "Grader attendance is not required") %>
  </div><div class="block">
<%= submit_tag "Update", name: nil %></div>
</div>
<% end %>

<% if params[:notice] %>
<p id="notice"><%= params[:notice] %></p>
<% end %>


<div id="result">
  <p>
    <% @courses.sort_by(&:class_num).each do |c| %>
      Class #<%= c.class_num %>,
      <%= c.name %>, <%= c.num_graders %> grading positions,
      attendance required: <%= c.attendance %><br/>
    <% end %>
  </p>
</div>
